<!DOCTYPE html PUBLIC "-//IEFT//DTD HTML//EN//2.0"><html><head></head><body><font size="-1"><em>©1992-2000 The MIT Press.  Reproduction by any means strictly prohibited.</em></font>
<h2>1.1 Basic logical notions</h2>

<hr>

<table>
<tbody><tr>
<td valign="TOP"><a name="arg"></a>
<strong>argument, premises, conclusion</strong></td>
<td><i>Definition.</i>  An <b>ARGUMENT</b> is a pair of things:<br>
· a set of sentences, the <strong>PREMISES</strong>;<br>
· a sentence, the <strong>CONCLUSION</strong>.</td>
</tr>

<tr><td></td>

<td><i>Comment</i>.  All arguments have conclusions, but not all
arguments have premises: the set of premises can be the empty set!
Later we shall examine this idea in some detail.</td>

</tr>

<tr><td></td>

<td><font size="-1"><i>Comment</i>.  If the sentences involved belong
to English (or any other natural language), we need to specify that
the premises and the conclusion are sentences that can be true or
false.  That is, the premises and the conclusion must all be
declarative (or indicative) sentences, such as `The cat is on the mat'
or `I am here', and not sentences such as `Is the cat on the mat?'
(interrogative) or `Close the door' (imperative).  We are going to
construct some formal languages in which every sentence is either true
or false.  Thus this qualification is not present in the definition
above.</font></td>
</tr>

<!--Extra line--><tr><td></td><td></td></tr>

<tr><td valign="TOP"><name=validity>
<strong>validity</strong></name=validity></td>

<td><i>Definition</i>.  An argument is <b>VALID</b> if and only if it
is necessary that <i>if</i> all its premises are true, its conclusion
is true.</td></tr>

<tr><td></td>

<td><i>Comment</i>.  The intuitive idea captured by this definition is
this: If it is possible for the conclusion of an argument to be false
when its premises are all true, then the argument is not reliable
(that is, it is invalid).  If true premises guarantee a true
conclusion, then the argument is valid.</td>
</tr>


<tr><td></td>

<td><i>Alternate formulation of the definition</i>.  An argument is
<b>VALID</b> if and only if it is impossible for all the premises to
be true while the conclusion is false.</td>
</tr>

<tr><td></td><td></td></tr>


<tr><td valign="TOP"><a name="entail"></a>
<strong>entailment</strong></td>

<td><i>Definition</i>.  When an argument is valid we say that its
premises <b>ENTAIL</b> its conclusion.</td>
</tr>

<tr><td></td><td></td></tr>

<tr><td valign="TOP">
<name=soundness><strong>soundness</strong></name=soundness></td>

<td><i>Definition</i>.  An argument is <b>SOUND</b> if and only if it
is valid and all its premises are true.</td>
</tr>

<tr><td></td>

<td><i>Comment</i>.  It follows that all sound arguments have true
conclusions.</td>
</tr>

<tr><td></td>
<td><i>Comment</i>.  An argument may be unsound in either of two ways:
it is invalid, or it has one or more false premises.</td></tr>

<tr><td></td>

<td><font size="-1"><i>Comment</i>.  The rest of this book is concerned
with validity rather than soundness.</font></td>
</tr>

</tbody></table>
<hr>
<font size="-1">
[<a href="12.html.erb" target="text">NEXT</a>]
</font>

</body></html>
