<html><head><title>Logic Primer</title>
</head>
<body>
    Thank you for your interest in the <em>Logic Primer</em>.  To
    obtain a copy of the 2nd edition, please contact the MIT Press or
    your favorite bookseller.  Please write to <a href="mailto:colin-allen@tamu.edu">colin-allen@tamu.edu</a> if you
    have any questions.


</body></html>
