<html><head><title>Logic Primer</title></head>
<body background="back1.jpg" bgcolor="#aaeeff">

<img src="lp2-title-black.gif" alt="LOGIC PRIMER">
<br>by
<a href="http://colinallen.dnsalias.org/" target="_top">Colin Allen</a>
and
Michael Hand

<hr>
<font size="-2">
© <a href="http://mitpress.mit.edu/" target="_top">The MIT Press</a>
1992-2001<br>
This material here is provided for inspection purposes only.
Reproduction by any means strictly prohibited.

<p>To order the book use
<a href="https://mitpress.mit.edu/books/logic-primer" target="mitpress">ISBN 0-262-51126-6</a>

</font>
</p><p>
<strong>Contents</strong>
</p><p>
<a href="preface.html.erb" target="text">Preface</a><br>
<a href="p2.html.erb" target="text">Preface to 2nd edition</a><br>
</p><p>
<strong>Chapter 1 Sentential Logic</strong><br>
<b>1.1</b> <a href="11.html.erb" target="text"><font size="-1">Basic Logical Notions</font></a><br>
<b>1.2</b> <font size="-1">A Formal Language for Sentential Logic</font><br>
<b>1.3</b> <font size="-1">Translation of English to Sentential Wffs</font><br>
<b>1.4</b> <font size="-1">Primitive Rules of Proof</font><br>
<b>1.5</b> <font size="-1">Sequents and Derived Rules</font><br>
<b>1.6</b> <font size="-1">Theorems</font><br>

</p><p>
<strong>Chapter 2 Truth Tables</strong><br>
<b>2.1</b> <font size="-1">Truth Tables for Sentences</font><br>
<b>2.2</b> <font size="-1">Truth Tables for Sequents</font><br>
<b>2.3</b> <font size="-1">Tautologies</font><br>
<b>2.4</b> <font size="-1">Indirect TTs</font><br>
<b>2.5</b> <font size="-1">English Counterexamples</font><br>

</p><p>
<strong>Chapter 3 Predicate Logic</strong><br>
<b>3.1</b> <font size="-1">A Formal Language for Predicate Logic</font><br>
<b>3.2</b> <font size="-1">Translation of English to Quantified Wffs</font><br>
<b>3.3</b> <font size="-1">Primitive Rules of Proof</font><br>
<b>3.4</b> <font size="-1">Sequents, Theorems, and Derived Rules of Proof</font><br>

</p><p>
<strong>Chapter 4 Models</strong><br>
<b>4.1</b> <font size="-1">Finite Interpretations and Expansions with One-Place Predicates</font><br>
<b>4.2</b> <font size="-1">Finite Countermodels for Arguments with One-Place Predicates</font><br>
<b>4.3</b> <font size="-1">Finite Countermodels for Arguments with Many-Place Predicates</font><br>
<b>4.4</b> <font size="-1">Finite Countermodels for Arguments with Identity</font><br>
<b>4.5</b> <font size="-1">Infinite Countermodels</font><br>

</p><p>
<strong>Answers to Selected Exercises</strong>


</p></body></html>