<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN"><html><!-- Created with LatinByrd III --><!-- File: /tmp/p2.rtf --><!-- Date: Tue Dec 12 22:33:15 2000 --><head>
<title>p2</title>
</head>

<body bgcolor="#FFFFFF" text="#000000" link="#0000FF" alink="#FF00FF" vlink="#FF0000">

<basefont size="3">
<font size="-1"><em>©1992-2001 The MIT Press.  Reproduction by any means strictly prohibited.</em></font>

<p><b>The Second Edition</b>

</p><p>With one exception, the changes to the second edition have been
minimal. We have added a treatment of identity to chapters 3 and 4. In
chapter 3 this required merely a slight modification to the definition of
<a href="QuantWff.html">wff</a>, some comments on translation, and the inclusion of <a href="IdentityIntro.html">introduction</a>
and <a href="IdentityElim.html">elimination</a> rules for identity. The changes made to chapter 4 are
more extensive. In the first edition we avoided overt reference to the
object language/metalanguage distinction and had no need to introduce
into the specification of interpretations the extensions (denotations,
referents) of names, but the inclusion of identity in the language
necessitates them. To keep matters simple, when giving interpretations
for sentences that involve identity we use italicized names in the
metalanguage, and we recommend that no member of the universe of
an interpretation be given more than one metalinguistic name. This
makes it easy to specify whether or not two names of the object
language have the same extension in an interpretation, for the same
metalinguistic name will be used for names denoting the same object.
Expansions now involve the use of italicized names, so that strictly
speaking they are not wffs of the object language. This does not affect
their use in determining truth values of quantified wffs in an
interpretation, and facilitates their use in determining truth values of
wffs involving identity. (We realize that italicization is not available
for hand-written exercises, so we recommend that instructors adopt a
convention such as underlining for blackboard presentations.) The
addition of the material on identity is supplemented with new exercises
in chapters 3 and 4. We have tried to organize the new material in such
a way that an instructor who wishes to omit it can do so easily.

</p><p>In chapter 1, a set of exercises has been inserted whose proofs do not
require →I and RAA. That is, these proofs do not involve the
discharge of assumptions. These exercises are intended to allow
students to become comfortable with the remaining rules of proof
before they are forced to learn the more complicated mechanics of →I
and RAA.

</p><p>In chapter 3 we have waited until after the section on translations to
introduce the notions of a wff's universalization, existentialization, and
instance. This change reduces the chance of the student's confusing the
rules for constructing universally quantified wffs, where at least one
occurrence of a name must be replaced by a variable, and universalization, where all occurrences of the name must be replaced.



</p><p>



</p></body></html>