<div class="Home">
    <a>
        <p>
            <div class="image">
                <%= image_tag("Book_Pic.gif", :alt => "Logic Primer Book Cover", :align => "left") %>
            </div>
            <center>
                <b>
                    <u>
                        <h1>Home</h1>
                    </u>
                </b>
            </center>
        </p>
        <p>
            <div class="home_paragraph">
                The Logic Machine at Texas A&M University hosts interactive logic
                software used for teaching introductory formal logic. The Daemon Proof
                Checker checks proofs and can provide hints for students attempting to
                construct proofs in a natural deduction system for sentential
                (propositional) and first-order predicate (quantifier) logic. The
                Quizmaster provides a variety of exercises, from questions about basic
                concepts such as validity, to wff construction and translation, to
                proofs, truth tables, and countermodels. The system and exercises are
                based on <em>Logic Primer</em> (MIT Press, 2000) but the exercises
                are also suitable for use with other texts, such as E.J. Lemmon's
                <em>Beginning Logic</em>
            </div>
        </p>
    </a>
    <center>
        <table style="padding-top: 1em; text-align: center;bottom:80;width:99%;">
            <tr>
                &nbsp;
                <td>
                    <a href="http://mypage.iu.edu/~colallen/" style="float: left;">
                        Colin&nbsp;Allen
                    </a>
                </td>
                <td> 
                    <a href="http://philosophy.tamu.edu/">
                        Texas&nbsp;A&amp;M&nbsp;Philosophy&nbsp;Department
                    </a>
                </td>
                <td> 
                    <a href="http://cmenzel.org" style="float: right;">
                        Chris&nbsp;Menzel
                    </a>
                    &nbsp;
                </td>
            </tr>
        </table>
    </center>
</div>
