<!-- Login Page for QuizMaster -->
<h2> Hello!</h2>

<form method="get" action="" class="button_to">
    <h3> Please identify yourself by entering a nickname: </h3><br>
    <input type="text" name="user" value=<%= @nickname %> />
    <input type="submit" name="submit_login" value="Submit" />
</form>